/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #2c3e50;
  margin-bottom: 20px;
}

img.responsive-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.video-container {
  margin-top: 30px;
  text-align: center;
}

video {
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 10px;
}

.artwork-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.artwork-details p {
  margin: 10px 0;
}

.comments-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment, .reply {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment {
  margin-bottom: 20px;
}

.reply {
  background-color: #e9ecef;
  margin-left: 20px;
}

.comment-form {
  margin-top: 20px;
}

.comment-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.comment-form button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #2980b9;
}

button {
  background-color: #2ecc71;
  padding: 10px 20px;
  border: none;
  color: Black;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}